In [3]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [8]:
import pandas as pd
import datetime as dt

In [4]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [5]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [13]:
session.query(Measurement.date)

AttributeError: 'Query' object has no attribute 'end'

In [45]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [46]:
# 2. Convert the June temperatures to a list.
june_tobs = [elem[1] for elem in list(june_results)]

In [56]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_tobs, columns=["June Temperature"])
june_temps_df

      June Temperature
0                 78.0
1                 76.0
2                 78.0
3                 76.0
4                 77.0
...                ...
1695              79.0
1696              74.0
1697              74.0
1698              76.0
1699              75.0

[1700 rows x 1 columns]

In [57]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

       June Temperature
count       1700.000000
mean          74.944118
std            3.257417
min           64.000000
25%           73.000000
50%           75.000000
75%           77.000000
max           85.000000

In [49]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [50]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

december_results = session.query(Measurement.date, Measurement.tobs).\
            filter(extract('month', Measurement.date)==12).all()

In [53]:
# 7. Convert the December temperatures to a list.
december_tobs = [elem[1] for elem in list(december_results)]

In [58]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 

december_temps_df = pd.DataFrame(december_tobs, columns=['December Temperature'])

In [59]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temps_df.describe()

       December Temperature
count           1517.000000
mean              71.041529
std                3.745920
min               56.000000
25%               69.000000
50%               71.000000
75%               74.000000
max               83.000000

In [ ]:
# 10. Return to your challenge instructions to compare your summary statistics